obj
Temp
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs
*.exe
*.apk


build_logs

Library/*
UnityVS*

PhotonLite
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
BuildPlayer.prefs
expandedItems
FailedAssetImports.txt
guidmapper
ScriptMapper
DNAUnityLibrary
/_Builds/
